---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Advice Generator App">
	<main>
		<div class="text-green-neon uppercase tracking-widest">Advice #<span id="count"></span></div>
		<div id="advice" class="text-cyan-light"></div>
		<button id="randomize" class="bg-green-neon p-4 rounded-full">
			<img src="../../images/icon-dice.svg" />
		</button>
	</main>
</Layout>

<script>
	const advice = document.querySelector('#advice');
	const count = document.querySelector('#count');
	const randomize = document.querySelector('#randomize');

	function getAdvice() {
		fetch("https://api.adviceslip.com/advice")
		.then((response) => response.json())
		.then(data => [advice.textContent = data.slip.advice, count.textContent = data.slip.id])
		.catch(error => console.error(error));
	}

	document.addEventListener('DOMContentLoaded', getAdvice);
	randomize.addEventListener('click', getAdvice);
</script>